div.hidden_div {
    display: none;
    background-color: aqua;
}

.seen_div {
    display: block;
}

.textboxid{
    height:200px;
    font-size:12pt;
}

.slide{
    display: none;
}

.active-slide{
    display: block;
}