button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
}

button:hover{
    background-color: #C7CEEA;
}

.page_container{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

.hidden_div {
    display: none;
}
.seen_div {
    display: block;
}

.longlogo{
    width: 100px;
}

#main_quiz{
    margin: auto;
    width: 40%;
    padding: 10px;
}

#main,
#create_container,
#take_container,
#confirm_quiz,
#quiz_taker-info,
#join_container {
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#quiz_container{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#quiz_result_container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#chatroom_container{
    background-color: rgb(186, 218, 245);
    border: 10px black;
    margin: 24px auto 0 auto;
	padding: 0 20px 0 0;
    width: 400px;
    height: 200px;
	overflow-y: scroll;
    overflow-x: hidden;
}

#chatroom_container .even_message{
    list-style-type: none;
    color: white;
}

#chatroom_container .odd_message{
    list-style-type: none;
    color: rgb(16, 210, 168);
}

#chatroom_container .alert_chat{
    list-style-type: none;
    background-color: black;
    color: rgb(134, 240, 252);
}

#display{
    text-align: center;
    position: absolute;
    top: 5%;
    left: 105px;
    width: 150px;
}

.textboxid{
    height:200px;
    font-size:12pt;
}

.each_question{
    display: none;
}

.slide{
    display: none;
}

.active-slide{
    display: block;
}

#image_container{
    margin-bottom: 20px;
}

#flip {
    text-transform: uppercase;
    font-size:30px;
    font-weight:bold;
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:0px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
    border-radius: 15px 50px;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  