button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
}

button:hover{
    background-color: #C7CEEA;
}

label {
    padding-top: 10px;
}

.page_container{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.hidden_div {
    display: none;
}
.seen_div {
    display: block;
}

.longlogo{
    width: 100px;
}

#main_quiz{
    margin: auto;
    width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 35px;
    background-color: #F9F7E8;
}

#main,
#create_container,
#take_container,
#confirm_quiz,
#quiz_taker_info,
#quiz_container{
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#confirm_quiz > p {
    margin: auto;
}

#quiz_result_container,
#quiz_taker_form,
#confirm_quiz,
#take_container{  
  padding-top: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 35px;
  background-color: #F9F7E8;
}

#quiz_result_container{
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.resultValueTable{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

#join_container {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

#resultTable{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background:rgb(72, 70, 70);
    color: rgb(247, 249, 250);
}

#score_header{
    font-size: 60px;
    color: #DC143C;
    letter-spacing: 2px;
}

#user_percent_value{
    font-size: 60px;
    color: #42c58a;
    animation: reveal 3000ms ease-in-out forwards 200ms;
}

#user_score_value{
    font-size: 50px;
    color: #4ec7f3;
    animation: reveal 3000ms ease-in-out forwards 200ms;
}

#chatroom_container{
    border: 1px solid black;
    background-color: #F9F7E8;
    border-radius: 15px;
    margin: 12px auto 0 auto;
	  padding: 10px 10px 10px 10px;
    width: 600px;
    height: 300px;
    overflow-x: hidden;
}

#chat_header{
    font-size: 50px;
    animation: reveal 3000ms ease-in-out forwards 200ms
}

#funtimes{
    background: rgb(97, 189, 250);
    padding-right: 20px;
    border-radius: 15px;
    letter-spacing: 2px;
}


.even_message{
    list-style-type: none;
    color: rgb(249, 246, 246);
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(245, 150, 196));
    position: relative;
    left: 10px;
    text-align: right;
    padding-right: 20px;
    border-radius: 15px;
    letter-spacing: 2px;
}

.odd_message{
    list-style-type: none;
    color: rgb(247, 249, 250);
    background-image: linear-gradient(90deg, rgb(26, 221, 218), rgb(255, 255, 255));
    position: relative;
    right: 10px;
    text-align: left;
    text-indent: 20px;
    border-radius: 15px;
    letter-spacing: 2px;
}

.alert_chat{
    list-style-type: none;
    font-size: 20px;
    color: #000000;
    border-radius: 15px;
    letter-spacing: 2px;

}

#display{
    background-color: #42c58a;
    border-radius: 15px 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 5%;
    right: 35px;
    width: 200px;
}

.display_time,
.display_end{
    margin: auto;
}

.textboxid{
    height:200px;
    font-size:12pt;
}

.each_question{
    display: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 35px;
    background-color: #F9F7E8;
}

.slide{
    display: none;
    padding-top: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    background-color: #F9F7E8;
}

.active-slide{
    display: block;
}

.active-slide > input{
    width: 500px;
}

#image_container{
    margin-bottom: 20px;
}

#flip {
    text-transform: uppercase;
    font-size:30px;
    font-weight:bold;
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:0px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
    border-radius: 15px 50px;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  

  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal_content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
  
  /* The Close Button */
  .close_modal {
    text-align: right;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_modal:hover,
  .close_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #user_score_value {
    margin-top: 10px;
  }

  #question_image{
    max-width: 400px;
    max-height: 400px;
  }